PROTOCOL = 
HOST = 
PORT = 
SERVER_URL = 

APP_SECRET = 
TOKEN_USER_SECRET = 

DATABASE_HOST = 
DATABASE_PORT = 
DATABASE_NAME = 
DATABASE_USER = 
DATABASE_PASSWORD = 

GOOGLE_GMAIL = 
GOOGLE_GMAIL_SECRET = 

DATABASE_URL =