<%-include('base.ejs')%>

    <link rel="stylesheet" href="/css/error.css">

    <body>
        <section class="error">
            <div class="left">
                <h1>ERROR</h1>
                <h3>
                    <%= err.status %>
                        <%= err.statusText %>
                </h3>
                <div class="error-message">
                    <p>
                        <%= err.message %>
                    </p>
                </div>
            </div>
            <div class="right">
                <img src="/images/stuart.png" alt="">
            </div>
        </section>
    </body>

    </html>