<%-include('base.ejs')%>

    <link rel="stylesheet" href="/css/login.css">

    <body>
        <section class="login">
            <div class="logo">
                <img src="/images/logo.png" alt="">
            </div>
            <form id="login-form" action="/auth/login" method="POST">
                <input type="email" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button>login</button>
            </form>
            <div class="signup-link">
                <a href="/auth/signup">register now</a>
            </div>
        </section>
    </body>

    </html>

    <script src="/js/login.js"></script>