<%-include('base.ejs')%>

  <link rel="stylesheet" href="/css/signup.css">

  <body>
    <section class="signup">
      <div class="left">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="right">
        <form id="signup-form" action="/auth/signup" method="POST">
          <input type="text" name="username" placeholder="username">
          <input type="password" name="password" placeholder="password">
          <input type="password" placeholder="confirm password">
          <input type="email" name="email" placeholder="email">

          <button>Send Verification Link</button>
        </form>
      </div>
    </section>
  </body>

  <script src="/js/signup.js"></script>

  </html>