<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>seungho.hub</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>

<body>
    <section class="signin">
        <div class="logo">
            <img src="/images/logo.png" alt="">
        </div>
        <form id="signin-form" action="/auth/signin" method="POST">
            <input type="email" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button>signin</button>
        </form>
        <div class="signup-link">
            <a href="/auth/signup">register now</a>
        </div>
    </section>
</body>

</html>