<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <section class="signin">
        <div class = "logo">
            <img src="/images/logo.png" alt="">
        </div>
        <form id = "signin-form" action="">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button>signin</button>
        </form>
        <div class = "signup-link">
            <a href="/auth/signup">register now</a>
        </div>
          
          <div class="horizon">
            <hr>
            <span>with other</span>
            <hr>
          </div>
          
        <div class="signin-with-sns">
            <a class = "google" href = "/auth/google"><img src="/images/login/google.png" alt=""><span>Singin With Google</span></a>
            <a class = "github" href = "/auth/github"><img src="/images/login/github.png" alt=""><span>Signin with Github</span></a>
            <a class = "kakao" href = "/auth/kakao"><img src="/images/login/kakao.png" alt=""><span>Signin with Kakao</span></a>
        </div>
    </section>
</body>
</html>