<%-include('base.ejs')%>

  <link rel="stylesheet" href="/css/signup-success.css">

  <body>
    <section class="signup-success">
      <div class="left">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="right">
        <div class="text">
          <h2>🎊 Thanks for joining my application! 🎊</h2>
          <p>I sended verification link to your email</p>
        </div>
      </div>
    </section>
  </body>

  </html>