<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>working with someone</title>

    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/signup-success.css">
</head>
<body>
    <section class="signup-success">
      <div class="left">
        <img src="/images/kevin.png" alt = "">
      </div>
      <div class="right">
        <div class="text">
          <h2>🎊 Thanks for joining my application! 🎊</h2>
          <p>I sended verification link to your email</p>
        </div>
      </div>
    </section>
</body>
</html>