<link rel="stylesheet" href="/css/topbar.css">

<section class="topbar">
  <div class="logo">
    <img src="/images/stuart.png" alt="">
    <p>Developer.hub</p>
  </div>
  <ul class="menus">
    <li class="menu btn">My Application</li>
    <li class="menu btn">Documentation</li>
    <li class="menu assets btn">Assets</li>
  </ul>
  <div class="others btn">
    <span class="material-icons">
      apps
    </span>
  </div>
</section>