<%-include('base.ejs')%>

  <link rel="stylesheet" href="/css/verification-success.css">

  <body>
    <section class="verification-success">
      <div class="left">
        <img src="/images/logo.png" alt="">
      </div>
      <div class="right">
        <div class="text">
          <h2>🎊 your email has been verified! 🎊</h2>
          <p>you can now sign in with your new account</p>
          <a class="btn" href="/auth/login?continue_uri=<%= continue_uri %>">signin now</a>
        </div>
      </div>
    </section>
  </body>

  </html>