<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>seungho.hub</title>

  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/verification-success.css">
</head>

<body>
  <section class="verification-success">
    <div class="left">
      <img src="/images/bob.png" alt="">
    </div>
    <div class="right">
      <div class="text">
        <h2>🎊 your email has been verified! 🎊</h2>
        <p>you can now sign in with your new account</p>
        <a class="btn" href="/auth/signin">signin now</a>
      </div>
    </div>
  </section>
</body>

</html>