section.home {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20em;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.home .text h2 {
  font-size: 3em;
}