section.login {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

section.login>* {
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.logo img {
    width: 7em;
}

#login-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    margin-bottom: 6px;
}

#login-form button {
    background-color: #FFCA36;
    color: #161728;
    width: 100%;
}

#login-form input {
    width: 100%;
    background-color: var(--bg-input);
}

#login-form input:focus {
    outline: none;
}

#login-form button {
    margin-top: 10px;
}

.signup-link {
    display: flex;
    justify-content: end;
    margin-bottom: 30px;
}

.signup-link a {
    display: flex;
    align-items: end;
    color: var(--sig);
    font-size: 12px;
    font-weight: 100;
    font-family: sans-serif;
}