<body>
  <table class="card" style="width: 100%;
    padding: 2em;
    background-color: #161728;
    color: #DDDDDD;
    border-spacing : 2em;
    ">
    <tbody class="recover">
      <tr>
        <td>
          <h1>Welcome to seungho.hub!</h1>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            We Have Recive a singup request for my application
            if you have not sent this email, ignore this mail.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <button style="padding: 20px 10px; 
          display : block;
          border-radius: 10px;
          background-color: #FFCA36;
          border: none;
          margin-top : 2em;">
            <a style="text-decoration: none; color : #161728" href="<%= link %>">Click For Verification</a>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</body>